SampleAppReceiver/obj/project.assets.json
SampleAppReceiver/obj/project.nuget.cache
SampleAppReceiver/obj/SampleAppReceiver.csproj.nuget.dgspec.json
SampleAppReceiver/obj/SampleAppReceiver.csproj.nuget.g.props
SampleAppReceiver/obj/SampleAppReceiver.csproj.nuget.g.targets
SampleAppReceiver/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SampleAppReceiver/obj/Debug/net5.0/apphost.exe
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.AssemblyInfo.cs
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.AssemblyInfoInputs.cache
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.assets.cache
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.csproj.AssemblyReference.cache
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.csproj.CopyComplete
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.csproj.CoreCompileInputs.cache
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.csproj.FileListAbsolute.txt
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.dll
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.GeneratedMSBuildEditorConfig.editorconfig
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.genruntimeconfig.cache
SampleAppReceiver/obj/Debug/net5.0/SampleAppReceiver.pdb
SampleAppReceiver/obj/Debug/net5.0/ref/SampleAppReceiver.dll
SampleAppReceiver/obj/Debug/net5.0/refint/SampleAppReceiver.dll
SampleShared/obj/project.assets.json
SampleShared/obj/project.nuget.cache
SampleShared/obj/SampleShared.csproj.nuget.dgspec.json
SampleShared/obj/SampleShared.csproj.nuget.g.props
SampleShared/obj/SampleShared.csproj.nuget.g.targets
SampleShared/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SampleShared/obj/Debug/net5.0/SampleShared.AssemblyInfo.cs
SampleShared/obj/Debug/net5.0/SampleShared.AssemblyInfoInputs.cache
SampleShared/obj/Debug/net5.0/SampleShared.assets.cache
SampleShared/obj/Debug/net5.0/SampleShared.csproj.AssemblyReference.cache
SampleShared/obj/Debug/net5.0/SampleShared.csproj.CoreCompileInputs.cache
SampleShared/obj/Debug/net5.0/SampleShared.csproj.FileListAbsolute.txt
SampleShared/obj/Debug/net5.0/SampleShared.dll
SampleShared/obj/Debug/net5.0/SampleShared.GeneratedMSBuildEditorConfig.editorconfig
SampleShared/obj/Debug/net5.0/SampleShared.pdb
SampleShared/obj/Debug/net5.0/ref/SampleShared.dll
SampleShared/obj/Debug/net5.0/refint/SampleShared.dll
SampleWebSender/bin/Debug/net5.0/appsettings.Development.json
SampleWebSender/bin/Debug/net5.0/appsettings.json
SampleWebSender/bin/Debug/net5.0/Microsoft.Azure.Amqp.dll
SampleWebSender/bin/Debug/net5.0/Microsoft.Azure.ServiceBus.dll
SampleWebSender/bin/Debug/net5.0/Microsoft.Azure.Services.AppAuthentication.dll
SampleWebSender/bin/Debug/net5.0/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
SampleWebSender/bin/Debug/net5.0/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
SampleWebSender/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
SampleWebSender/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
SampleWebSender/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
SampleWebSender/bin/Debug/net5.0/Newtonsoft.Json.dll
SampleWebSender/bin/Debug/net5.0/SampleShared.dll
SampleWebSender/bin/Debug/net5.0/SampleShared.pdb
SampleWebSender/bin/Debug/net5.0/SampleWebSender.deps.json
SampleWebSender/bin/Debug/net5.0/SampleWebSender.dll
SampleWebSender/bin/Debug/net5.0/SampleWebSender.exe
SampleWebSender/bin/Debug/net5.0/SampleWebSender.pdb
SampleWebSender/bin/Debug/net5.0/SampleWebSender.runtimeconfig.dev.json
SampleWebSender/bin/Debug/net5.0/SampleWebSender.runtimeconfig.json
SampleWebSender/bin/Debug/net5.0/SampleWebSender.Views.dll
SampleWebSender/bin/Debug/net5.0/SampleWebSender.Views.pdb
SampleWebSender/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
